//TODO purge imposible keys and add missing usage pages
keyboard 0x04 "A"
keyboard 0x05 "B"
keyboard 0x06 "C"
keyboard 0x07 "D"
keyboard 0x08 "E"
keyboard 0x09 "F"
keyboard 0x0A "G"
keyboard 0x0B "H"
keyboard 0x0C "I"
keyboard 0x0D "J"
keyboard 0x0E "K"
keyboard 0x0F "L"
keyboard 0x10 "N"
keyboard 0x11 "M"
keyboard 0x12 "O"
keyboard 0x13 "P"
keyboard 0x14 "Q"
keyboard 0x15 "R"
keyboard 0x16 "S"
keyboard 0x17 "T"
keyboard 0x18 "U"
keyboard 0x19 "V"
keyboard 0x1A "W"
keyboard 0x1B "X"
keyboard 0x1C "Y"
keyboard 0x1D "Z"
keyboard 0x1E "Key1"
keyboard 0x1F "Key2"
keyboard 0x20 "Key3"
keyboard 0x21 "Key4"
keyboard 0x22 "Key5"
keyboard 0x23 "Key6"
keyboard 0x24 "Key7"
keyboard 0x25 "Key8"
keyboard 0x26 "Key9"
keyboard 0x27 "Key0"
keyboard 0x28 "Enter"
keyboard 0x29 "Escape"
keyboard 0x2A "Backspace"
keyboard 0x2B "Tab"
keyboard 0x2C "Space"
keyboard 0x2D "Minus"
keyboard 0x2E "Equals"
keyboard 0x2F "LeftBracket"
keyboard 0x30 "RightBracket"
keyboard 0x31 "Backslash"
keyboard 0x32 "NonUSHash"
keyboard 0x33 "Semicolon"
keyboard 0x34 "Apostrophe"
keyboard 0x35 "Grave"
keyboard 0x36 "Comma"
keyboard 0x37 "Period"
keyboard 0x38 "ForwardSlash"
keyboard 0x39 "CapsLock"
keyboard 0x3A "F1"
keyboard 0x3B "F2"
keyboard 0x3C "F3"
keyboard 0x3D "F4"
keyboard 0x3E "F5"
keyboard 0x3F "F6"
keyboard 0x40 "F7"
keyboard 0x41 "F8"
keyboard 0x42 "F9"
keyboard 0x43 "F10"
keyboard 0x44 "F11"
keyboard 0x45 "F12"
keyboard 0x46 "PrintScreen"
keyboard 0x47 "ScrollLock"
keyboard 0x48 "Pause"
keyboard 0x49 "Insert"
keyboard 0x4A "Home"
keyboard 0x4B "PageUp"
keyboard 0x4C "Delete"
keyboard 0x4D "End"
keyboard 0x4E "PageDown"
keyboard 0x4F "Right"
keyboard 0x50 "Left"
keyboard 0x51 "Down"
keyboard 0x52 "Up"
keyboard 0x53 "KeypadNumLock"
keyboard 0x54 "KeypadDivide"
keyboard 0x55 "KeypadMultiply"
keyboard 0x56 "KeypadMinus"
keyboard 0x57 "KeypadPlus"
keyboard 0x58 "KeypadEnter"
keyboard 0x59 "Keypad1"
keyboard 0x5A "Keypad2"
keyboard 0x5B "Keypad3"
keyboard 0x5C "Keypad4"
keyboard 0x5D "Keypad5"
keyboard 0x5E "Keypad6"
keyboard 0x5F "Keypad7"
keyboard 0x60 "Keypad8"
keyboard 0x61 "Keypad9"
keyboard 0x62 "Keypad0"
keyboard 0x63 "KeypadDecimal"
keyboard 0x64 "KeypadNonUSBackslash"
keyboard 0x65 "App"
//
keyboard 0x67 "KeypadEquals"
keyboard 0x68 "F13"
keyboard 0x69 "F14"
keyboard 0x6A "F15"
keyboard 0x6B "F16"
keyboard 0x6C "F17"
keyboard 0x6D "F18"
keyboard 0x6E "F19"
keyboard 0x6F "F20"
keyboard 0x70 "F21"
keyboard 0x71 "F22"
keyboard 0x72 "F23"
keyboard 0x73 "F24"
keyboard 0x74 "Execute"
keyboard 0x75 "Help"
keyboard 0x76 "Menu"
keyboard 0x77 "Select"
keyboard 0x78 "Stop"
keyboard 0x79 "Again"
keyboard 0x7A "Undo"
keyboard 0x7B "Cut"
keyboard 0x7C "Copy"
keyboard 0x7D "Paste"
keyboard 0x7E "Find"
keyboard 0x7F "Mute"
keyboard 0x80 "VolumeUp"
keyboard 0x81 "VolumeDown"
keyboard 0x82 "LockingCapsLock"
keyboard 0x83 "LockingNumLock"
keyboard 0x84 "LockingScrollLock"
keyboard 0x85 "KeypadComma"
keyboard 0x86 "KeypadEqualSign"
keyboard 0x87 "International1"
keyboard 0x88 "International2"
keyboard 0x89 "International3"
keyboard 0x8A "International4"
keyboard 0x8B "International5"
keyboard 0x8C "International6"
keyboard 0x8D "International7"
keyboard 0x8E "International8"
keyboard 0x8F "International9"
keyboard 0x90 "LANG1"
keyboard 0x91 "LANG2"
keyboard 0x92 "LANG3"
keyboard 0x93 "LANG4"
keyboard 0x94 "LANG5"
keyboard 0x95 "LANG6"
keyboard 0x96 "LANG7"
keyboard 0x97 "LANG8"
keyboard 0x98 "LANG9"
keyboard 0x99 "AltErase"
keyboard 0x9A "SysReq"
keyboard 0x9B "Cancel"
keyboard 0x9C "Clear"
keyboard 0x9D "Prior"
keyboard 0x9E "Return"
keyboard 0x9F "Separator"
keyboard 0xA0 "Out"
keyboard 0xA1 "Oper"
keyboard 0xA2 "ClearAgain"
keyboard 0xA3 "CrSel"
keyboard 0xA4 "ExSel"
//
keyboard 0xB0 "Keypad00"
keyboard 0xB1 "Keypad000"
keyboard 0xB2 "ThousandsSeparator"
keyboard 0xB3 "DecimalSeparator"
keyboard 0xB4 "CurrencyUnit"
keyboard 0xB5 "CurrencySubunit"
keyboard 0xB6 "KeypadOpenParentheses"
keyboard 0xB7 "KeypadCloseParentheses"
keyboard 0xB8 "KeypadOpenBrace"
keyboard 0xB9 "KeypadCloseBrace"
keyboard 0xBA "KeypadTab"
keyboard 0xBB "KeypadBackspace"
keyboard 0xBC "KeypadA"
keyboard 0xBD "KeypadB"
keyboard 0xBE "KeypadC"
keyboard 0xBF "KeypadD"
keyboard 0xC0 "KeypadE"
keyboard 0xC1 "KeypadF"
keyboard 0xC2 "KeypadXOR"
keyboard 0xC3 "KeypadAccent"
keyboard 0xC4 "KeypadPercentage"
keyboard 0xC5 "KeypadLessThan"
keyboard 0xC6 "KeypadGreaterThan"
keyboard 0xC7 "KeypadAmpersand"
keyboard 0xC8 "KeypadAND"
keyboard 0xC9 "KeypadVerticalBar"
keyboard 0xCA "KeypadOR"
keyboard 0xCB "KeypadColon"
keyboard 0xCC "KeypadHash"
keyboard 0xCD "KeypadSpace"
keyboard 0xCE "KeypadAtSymbol"
keyboard 0xCF "KeypadExclamation"
keyboard 0xD0 "KeypadMemoryStore"
keyboard 0xD1 "KeypadMemoryRecall"
keyboard 0xD2 "KeypadMemoryClear"
keyboard 0xD3 "KeypadMemoryAdd"
keyboard 0xD4 "KeypadMemorySubtract"
keyboard 0xD5 "KeypadMemoryMultiply"
keyboard 0xD6 "KeypadMemoryDivide"
keyboard 0xD7 "KeypadPlusMinus"
keyboard 0xD8 "KeypadClear"
keyboard 0xD9 "KeypadClearEntry"
keyboard 0xDA "KeypadBinary"
keyboard 0xDB "KeypadOctal"
keyboard 0xDC "KeypadDenary"
keyboard 0xDD "KeypadHexadecimal"
//
keyboard 0xE0 "LeftControl"
keyboard 0xE1 "LeftShift"
keyboard 0xE2 "LeftAlt"
keyboard 0xE3 "LeftGui"
keyboard 0xE4 "RightControl"
keyboard 0xE5 "RightShift"
keyboard 0xE6 "RightAlt"
keyboard 0xE7 "RightGui"
