device vendor="standard" name="generic_mouse" {
    source "button_right" { input-component "click" }
    source "button_middle" { input-component "click" }
    source "button_left" { input-component "click" }
    source "button_4" { input-component "click" }
    source "button_5" { input-component "click" }
    source "move" { input-component "move2d" }
    source "scroll" { input-component "move2d" }
}

device vendor="wooting" name="60he" variant="iso_uk" {
    source "trigger_escape" {
        input-component "value"
    }
    source "trigger_key1" {
        input-component "value"
    }
    source "trigger_key2" {
        input-component "value"
    }
    //etc
}

device vendor="oculus" name="touch_controller_left_generic" {
    source "button_y" {
        input-component "button" "click"
        input-component "button" "touch"
    }
    source "button_x" {
        input-component "button" "click"
        input-component "button" "touch"
    }
    source "thumbstick" {
        input-component "button" "click"
        input-component "button" "touch"
        input-component "joystick" "position"
    }
    source "menu" {
        input-component "button" "click"
    }
    source "squeeze" {
        input-component "button" "value"
    }
    //TODO pose + haptic
}

device vendor="oculus" name="touch_controller_left_rift_s" parent="device/oculus/touch_controller_left_generic"

device vendor="sony" name="dualsense" {
    dpad "diamond" {
        dpad-up "up"
        dpad-left "left"
        dpad-down "right"
        dpad-right "down"
    }
    dpad "dpad" {
        dpad-up "up"
        dpad-left "left"
        dpad-down "right"
        dpad-right "down"
    }
    generic "shoulder_left" { button "click"; }
    generic "shoulder_right" { button "click"; }
    generic "create" { button "click"; }
    generic "guide" { button "click"; }
    generic "options" { button "click"; }
    generic "mute" { 
        button "click"
        led "light"
    }
    generic "touchpad" {
        button "click"
        touchpad "points" max_points=2 pressure=false diameter=false
    }
    generic "joystick_left" { 
        joystick "position"
        button "click"
    }
    generic "joystick_right" { 
        joystick "position"
        button "click"
    }
    generic "trigger_left" {
        trigger "value"
        adaptive-trigger "adaptive_trigger"
    }
    generic "trigger_right" {
        trigger "value"
        adaptive-trigger "adaptive_trigger"
    }
    motion "motion" { 
        motion-gyro "gyro" calibrated=false
        motion-accel "accel" 
    }
    generic "out" {
        led "led"
        player-number "player_number" min=0 max=5
        hd-rumble "haptic_left"
        hd-rumble "haptic_right"
    }
    //TODO speaker, microphone and battery
}