device vendor="standard" name="generic_mouse" {
    source "button_right" {
        input-component "click"
    }
    source "button_middle" {
        input-component "click"
    }
    source "button_left" {
        input-component "click"
    }
    source "button_4" {
        input-component "click"
    }
    source "button_5" {
        input-component "click"
    }
    source "move" {
        input-component "move2d"
    }
    source "scroll" {
        input-component "move2d"
    }
}