device vendor="standard" name="generic_mouse" {
    identifier "button_left" { button "click"; } 
    identifier "button_right" { button "click"; } 
    identifier "button_middle" { button "click"; } 
    identifier "button_4" { button "click"; } 
    identifier "button_5" { button "click"; } 
    identifier "move" { move2d "move2d"; } 
    identifier "scroll" { move2d "move2d"; } 
}

device vendor="standard" name="system_cursor" {
    identifier "cursor" { cursor "point"; } 
}

device vendor="sony" name="dualsense" {
    identifier "diamond_up" { button "click"; }
    identifier "diamond_left" { button "click"; }
    identifier "diamond_right" { button "click"; }
    identifier "diamond_down" { button "click"; }
    identifier "dpad_up" { button "click"; }
    identifier "dpad_left" { button "click"; }
    identifier "dpad_right" { button "click"; }
    identifier "dpad_down" { button "click"; }
    identifier "shoulder_left" { button "click"; }
    identifier "shoulder_right" { button "click"; }
    identifier "guide" { button "click"; }
    identifier "create" { button "click"; }
    identifier "options" { button "click"; }
    identifier "mute" { 
        button "click"
        led "light"
    }
    identifier "touchpad" {
        button "click"
        touchpad "points" max_points=2 pressure=false
    }
    identifier "joystick_left" { 
        joystick "position"
        button "click"
    }
    identifier "joystick_right" { 
        joystick "position"
        button "click"
    }
    identifier "trigger_left" {
        trigger "value"
        adaptive-trigger "adaptive_trigger"
    }
    identifier "trigger_right" {
        trigger "value"
        adaptive-trigger "adaptive_trigger"
    }
    identifier "motion" { 
        gyro "gyro" calibrated=false
        accel "accel" 
    }
    identifier "out" {
        led "led"
        player-number "player_number" min=0 max=5
        hd-rumble "haptic_left"
        hd-rumble "haptic_right"
    }
}