device vendor="standard" name="generic_mouse" {
    identifier "button_left" { button "click"; } 
    identifier "button_right" { button "click"; } 
    identifier "button_middle" { button "click"; } 
    identifier "button_4" { button "click"; } 
    identifier "button_5" { button "click"; } 
    identifier "move" { move2d "move2d"; } 
    identifier "scroll" { move2d "move2d"; } 
}

device vendor="standard" name="system_cursor" {
    identifier "cursor" { cursor "point"; } 
}

device vendor="sony" name="dualsense" {
    identifier "diamond_up" { button "click"; }
    identifier "diamond_left" { button "click"; }
    identifier "diamond_right" { button "click"; }
    identifier "diamond_down" { button "click"; }
    identifier "dpad_up" { button "click"; }
    identifier "dpad_left" { button "click"; }
    identifier "dpad_right" { button "click"; }
    identifier "dpad_down" { button "click"; }
    identifier "shoulder_left" { button "click"; }
    identifier "shoulder_right" { button "click"; }
    identifier "create" { button "click"; }
    identifier "guide" { button "click"; }
    identifier "options" { button "click"; }
    identifier "mute" { 
        button "click"
        led "light"
    }
    identifier "touchpad" {
        button "click"
        touchpad "points" max_points=2 pressure=false
    }
    identifier "joystick_left" { 
        joystick "position"
        button "click"
    }
    identifier "joystick_right" { 
        joystick "position"
        button "click"
    }
    identifier "trigger_left" {
        trigger "value"
        adaptive-trigger "adaptive_trigger"
    }
    identifier "trigger_right" {
        trigger "value"
        adaptive-trigger "adaptive_trigger"
    }
    identifier "motion" { 
        gyro "gyro" calibrated=false
        accel "accel" 
    }
    identifier "out" {
        led "led"
        player-number "player_number" min=0 max=5
        hd-rumble "haptic_left"
        hd-rumble "haptic_right"
    }
    //TODO speaker, microphone and battery
}

device vendor="microsoft" name="xbox_360" {
    identifier "diamond_up" { button "click"; }
    identifier "diamond_left" { button "click"; }
    identifier "diamond_right" { button "click"; }
    identifier "diamond_down" { button "click"; }
    identifier "dpad_up" { button "click"; }
    identifier "dpad_left" { button "click"; }
    identifier "dpad_right" { button "click"; }
    identifier "dpad_down" { button "click"; }
    identifier "shoulder_left" { button "click"; }
    identifier "shoulder_right" { button "click"; }
    identifier "back" { button "click"; }
    identifier "guide" { button "click"; }
    identifier "start" { button "click"; }
    identifier "joystick_left" { 
        joystick "position"
        button "click"
    }
    identifier "joystick_right" { 
        joystick "position"
        button "click"
    }
    identifier "trigger_left" { trigger "value"; }
    identifier "trigger_right" { trigger "value"; }
    identifier "out" {
        led "led"
        player-number "player_number" min=0 max=4
        rumble "rumble_left" //Low frequency
        rumble "rumble_right" //High frequency
    }
    //TODO speaker, microphone and battery
}

device vendor="microsoft" name="xbox_one" {
    identifier "diamond_up" { button "click"; }
    identifier "diamond_left" { button "click"; }
    identifier "diamond_right" { button "click"; }
    identifier "diamond_down" { button "click"; }
    identifier "dpad_up" { button "click"; }
    identifier "dpad_left" { button "click"; }
    identifier "dpad_right" { button "click"; }
    identifier "dpad_down" { button "click"; }
    identifier "shoulder_left" { button "click"; }
    identifier "shoulder_right" { button "click"; }
    identifier "view" { button "click"; }
    identifier "guide" { button "click"; }
    identifier "menu" { button "click"; }
    identifier "joystick_left" { 
        joystick "position"
        button "click"
    }
    identifier "joystick_right" { 
        joystick "position"
        button "click"
    }
    identifier "trigger_left" {
        trigger "value"
        rumble "rumble"
    }
    identifier "trigger_right" {
        trigger "value"
        rumble "rumble"
    }
    identifier "out" {
        led "led"
        rumble "rumble_left" //Low frequency
        rumble "rumble_right" //High frequency
    }
    //TODO speaker, microphone and battery
}

device vendor="nintendo" name="wiimote" {
    identifier "dpad_up" { button "click"; }
    identifier "dpad_left" { button "click"; }
    identifier "dpad_right" { button "click"; }
    identifier "dpad_down" { button "click"; }
    identifier "button_a" { button "click"; }
    identifier "button_b" { button "click"; }
    identifier "button_minus" { button "click"; }
    identifier "guide" { button "click"; }
    identifier "button_plus" { button "click"; }
    identifier "button_1" { button "click"; }
    identifier "button_2" { button "click"; }
    identifier "pointer" { cursor "point"; }
    identifier "motion" { 
        //TODO some wiimotes don't have built-in gyros
        gyro "gyro" calibrated=false
        accel "accel" 
    }
    identifier "out" {
        player-number "player_number" min=0 max=4
        rumble "rumble"
    }
    //TODO speaker, battery and IR
}